<!DOCTYPE html>
<html lang="{{@site.locale}}">
  <head>
    <title>{{ meta_title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="{{asset 'css/tailwind.css'}}" rel="stylesheet">
    <link href="{{asset 'css/main.css'}}" rel="stylesheet">
    <link href="{{asset 'css/resume.css'}}" rel="stylesheet">
    <script src="{{asset 'js/util.js'}}"></script>
    {{ghost_head}}
    <link href="{{asset 'css/ghost-content.css'}}" rel="stylesheet">
  </head>
  <body class="{{body_class}}">

    {{navigation}}

    {{{body}}}

    {{!-- Footer content goes here --}}
    <!--
    <div class="card">
        <div class="card-footer text-muted">
            &copy; {{date format="YYYY"}} {{@site.title}}
        </div>
    </div>
    -->
    {{!-- End of footer --}}

    {{!-- Dynamic footer content from code injection etc --}}
    {{ghost_foot}}
  </body>
</html>
