{{!< default}}
  <div class="container tag">
    {{#tag}}
      <h1>{{ name }}</h1>
    {{/tag}}

    <div class="posts-wrapper">
    {{#foreach posts}}
      {{> "post-card"}}
    {{/foreach}}
    </div>
    {{pagination}}
  </div>
