.kg-width-wide {
  grid-column: wide-start / wide-end;
}

.kg-width-full {
  grid-column: full-start / full-end;
}

.kg-width-full img {
  width: 100%;
}

.kg-gallery-container {
  position: relative;
}

.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kg-gallery-image img {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}

/*BOOKMARK CARD*/
.kg-bookmark-card,
.kg-bookmark-card * {
    box-sizing: border-box;
}

.kg-bookmark-card,
.kg-bookmark-publisher {
    position: relative;
    width: 100%;
}

.kg-bookmark-card a.kg-bookmark-container,
.kg-bookmark-card a.kg-bookmark-container:hover {
    display: flex;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid rgb(124 139 154 / 25%);
    background-color: transparent;
    overflow: hidden;
    color: inherit;
}

.kg-bookmark-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    overflow: hidden;
}

.kg-bookmark-title {
    font-size: 1.5rem;
    line-height: 1.4em;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(67 76 94 / var(--tw-text-opacity));
}

.dark .kg-bookmark-title {
  --tw-text-opacity: 1;
  color: rgb(216 222 233 / var(--tw-text-opacity));
}

.kg-bookmark-description {
    display: -webkit-box;
    font-size: 1.4rem;
    line-height: 1.5em;
    margin-top: 3px;
    font-weight: 400;
    max-height: 44px;
    overflow-y: hidden;
    opacity: 0.7;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    --tw-text-opacity: 1;
    color: rgb(67 76 94 / var(--tw-text-opacity));
}

.dark .kg-bookmark-description {
  --tw-text-opacity: 1;
  color: rgb(216 222 233 / var(--tw-text-opacity));
}

.kg-bookmark-metadata {
    display: flex;
    align-items: center;
    margin-top: 22px;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    white-space: nowrap;
}

.kg-bookmark-metadata > *:not(img) {
    opacity: 0.7;
}

.kg-bookmark-icon {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.kg-bookmark-author,
.kg-bookmark-publisher {
    display: inline;
    --tw-text-opacity: 1;
    color: rgb(67 76 94 / var(--tw-text-opacity));

}

.dark .kg-bookmark-author, .dark .kg-bookmark-publisher {
  --tw-text-opacity: 1;
  color: rgb(216 222 233 / var(--tw-text-opacity));
}

.kg-bookmark-publisher {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 240px;
    white-space: nowrap;
    display: block;
    line-height: 1.65em;
}

.kg-bookmark-metadata > span:nth-of-type(2) {
    font-weight: 400;
}

.kg-bookmark-metadata > span:nth-of-type(2):before {
    content: "•";
    margin: 0 6px;
}

.kg-bookmark-metadata > span:last-of-type {
    overflow: hidden;
    text-overflow: ellipsis;
}

.kg-bookmark-thumbnail {
    position: relative;
    flex-grow: 1;
    min-width: 33%;
}

.kg-bookmark-thumbnail img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 2px 2px 0;
}

/*CALLOUT*/
kg-callout-card,
.kg-callout-card * {
    box-sizing: border-box;
}

.kg-callout-card {
    display: flex;
    padding: 1.2em 1.6em;
    border-radius: 3px;
}

.kg-callout-card-grey {
    background: rgba(124, 139, 154, 0.13);
}

.kg-callout-card-white {
    background: transparent;
    box-shadow: inset 0 0 0 1px rgba(124, 139, 154, 0.25);
}

.kg-callout-card-blue {
  background-color: rgb(94 129 172 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.2;
}

.kg-callout-card-green {
  background-color: rgb(163 190 140 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.2;
}

.kg-callout-card-yellow {
  background-color: rgb(235 203 139 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.2;
}

.kg-callout-card-red {
  background-color: rgb(184 81 91 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.2;
}

.kg-callout-card-pink {
  background-color: rgb(191 97 106 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.2;
}

.kg-callout-card-purple {
  background-color: rgb(180 142 173 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.2;
}

.kg-callout-card-accent {
    background: var(--ghost-accent-color);
    color: #fff;
}

.kg-callout-card.kg-callout-card-accent a {
    color: #fff;
    text-decoration: underline;
}

.kg-callout-card div.kg-callout-emoji {
    padding-right: .8em;
    line-height: 1.25em;
    font-size: 1.15em;
}

.kg-callout-card div.kg-callout-text {
    font-size: .95em;
    line-height: 1.5em;
}

.kg-callout-card + .kg-callout-card {
    margin-top: 1em;
}
