/* LAYOUT */
.container {
  width: 91.666667%;
}
@media (min-width: 640px) {
  .container {
    max-width: 72rem;
  }
}
.container {
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(246 248 250 / var(--tw-bg-opacity));
}
.dark .container {
  --tw-bg-opacity: 1;
  background-color: rgb(46 52 64 / var(--tw-bg-opacity));
}
.container {
  border-style: solid;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
@media (min-width: 640px) {
  .container {
    padding-top: 2rem;
  }
  .container {
    padding-bottom: 2rem;
  }
  .container {
    padding-left: 4rem;
  }
  .container {
    padding-right: 4rem;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 640px) {
  .container {
    margin-top: 1rem;
  }
  .container {
    margin-left: auto;
  }
  .container {
    margin-right: auto;
  }
}

.matrix-canvas {
  --tw-bg-opacity: 1;
  background-color: rgb(67 76 94 / var(--tw-bg-opacity));
  height: 100%;
  width: 100%;
}

.terminal {
  background-color: rgb(46 52 64 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.95;
  border-radius: 0.375rem;
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  --tw-translate-x: -50%;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  width: 91.666667%;
  z-index: 10;
  filter: drop-shadow(0px 8px 24px #2e3440);
  max-width: 520px;
}

.terminal-content {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .terminal-content {
    padding-top: 2rem;
  }
  .terminal-content {
    padding-bottom: 2rem;
  }
}

.terminal-content {
  margin-top: auto;
  margin-bottom: auto;
  --tw-text-opacity: 1;
  color: rgb(216 222 233 / var(--tw-text-opacity));
  font-weight: 700;
  font-family: Ubuntu;
}

.terminal-prompt-name {
  --tw-text-opacity: 1;
  color: rgb(163 190 140 / var(--tw-text-opacity));
}

.terminal-prompt-path {
  --tw-text-opacity: 1;
  color: rgb(83 118 162 / var(--tw-text-opacity));
}

.terminal-result {
  --tw-text-opacity: 1;
  color: rgb(76 86 106 / var(--tw-text-opacity));
  line-height: 1.25;
}

.terminal-link {
  --tw-text-opacity: 1;
  color: rgb(76 86 106 / var(--tw-text-opacity));
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.terminal-link:hover, .terminal-link:focus {
  --tw-text-opacity: 1;
  color: rgb(94 129 172 / var(--tw-text-opacity));
}

/*
 * ICONS
*/

.dark-mode-toggle svg {
  width: 50px;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.dark-mode-icon {
  display: flex;
}

.dark .dark-mode-icon {
  display: none;
}

.light-mode-icon {
  display: none;
}

.dark .light-mode-icon {
  display: flex;
}

.light-mode-menu-icon {
  display: flex;
}

.dark .light-mode-menu-icon {
  display: none;
}

.light-mode-menu-icon {
  justify-self: start;
}

.dark-mode-menu-icon {
  display: none;
}

.dark .dark-mode-menu-icon {
  display: flex;
}

/*
 * NAV
*/

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.name-tag-wrapper {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-name {
  font-weight: 900;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  line-height: 1;
  font-family: "Rubik", sans-serif;
}

.nav-title {
  font-weight: 900;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  line-height: 1;
  font-family: "Rubik", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  --tw-bg-opacity: 1;
  background-color: rgb(46 52 64 / var(--tw-bg-opacity));
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  --tw-text-opacity: 1;
  color: rgb(216 222 233 / var(--tw-text-opacity));
  font-size: 1.5rem;
  line-height: 2rem;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  --tw-text-opacity: 1;
  color: rgb(94 129 172 / var(--tw-text-opacity));
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/*
 * Post Styles
*/
.html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(236 239 244 / var(--tw-bg-opacity));
}
.dark .html, .dark body {
  --tw-bg-opacity: 1;
  background-color: rgb(59 66 82 / var(--tw-bg-opacity));
}
.html, body {
  --tw-text-opacity: 1;
  color: rgb(67 76 94 / var(--tw-text-opacity));
}
.dark .html, .dark body {
  --tw-text-opacity: 1;
  color: rgb(216 222 233 / var(--tw-text-opacity));
}
.html,
body {
  font-family: "Ubuntu";
  overflow-x: hidden;
}

.home-body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
}

.post-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

button {
  outline: 0;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (min-width: 640px) {
  h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

h1 {
  font-weight: 900;
}
h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
@media (min-width: 640px) {
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
h2 {
  font-weight: 900;
}
h3 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
@media (min-width: 640px) {
  h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
h3 {
  font-weight: 900;
}

.post figcaption, .page figcaption {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  font-weight: 700;
  margin-top: 0.25rem;
}

.post hr,
.page hr {
  border-radius: 1px;
  border-width: 1px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(216 222 233 / var(--tw-border-opacity));
}

.dark .post hr, .dark .page hr {
  --tw-border-opacity: 1;
  border-color: rgb(46 52 64 / var(--tw-border-opacity));
}

.post hr, .page hr {
  font-weight: 700;
}

.post p, .page p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.post a, .page a {
  --tw-text-opacity: 1;
  color: rgb(94 129 172 / var(--tw-text-opacity));
  font-weight: 700;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.post blockquote, .page blockquote {
  padding: 0.5rem;
  border-left-width: 4px;
  border-radius: 0.125rem;
  --tw-border-opacity: 1;
  border-color: rgb(94 129 172 / var(--tw-border-opacity));
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.post ul, .page ul {
  list-style-type: disc;
  list-style-position: inside;
}

.post figure iframe {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.post-card-wrapper {
  width: 91.666667%;
  max-width: 72rem;
  margin-top: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  padding-top: 1.25rem;
}

@media (min-width: 640px) {
  .post-card-wrapper {
    padding: 2.5rem;
  }
}

.post-card-wrapper {
  border-radius: 0.5rem;
}

@media (min-width: 640px) {
  .post-card-wrapper {
    width: 80%;
  }
}

.post-card-wrapper {
  --tw-bg-opacity: 1;
  background-color: rgb(246 248 250 / var(--tw-bg-opacity));
}

.dark .post-card-wrapper {
  --tw-bg-opacity: 1;
  background-color: rgb(46 52 64 / var(--tw-bg-opacity));
}

.post pre code,
.page pre code
{
  font-family: "Ubuntu";
}


