/*STYLES FOR PAGE, POST AND RESUME*/

.resume h1, .post h1
{
  font-size: 1.875rem;
  line-height: 2.25rem;
  --tw-text-opacity: 1;
  color: rgb(59 66 82 / var(--tw-text-opacity));
}

.dark .resume h1, .dark .post h1
{
  --tw-text-opacity: 1;
  color: rgb(216 222 233 / var(--tw-text-opacity));
}

.resume h1, .post h1
{
  font-weight: 700;
}

.resume h2, .post h2
{
  font-size: 1.25rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(59 66 82 / var(--tw-text-opacity));
}

.dark .resume h2, .dark .post h2
{
  --tw-text-opacity: 1;
  color: rgb(216 222 233 / var(--tw-text-opacity));
}

.resume h2, .post h2
{
  font-weight: 700;
}

.resume h3, .post h3
{
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(94 129 172 / var(--tw-text-opacity));
}

.dark .resume h3, .dark .post h3
{
  --tw-text-opacity: 1;
  color: rgb(129 161 193 / var(--tw-text-opacity));
}

.resume h3, .post h3
{
  font-weight: 700;
}

.resume h4, .post h4
{
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(182 182 182 / var(--tw-text-opacity));
}

.dark .resume h4, .dark .post h4
{
  --tw-text-opacity: 1;
  color: rgb(113 126 152 / var(--tw-text-opacity));
}

.resume h4, .post h4
{
  font-weight: 700;
}

.resume h5, .post h5
{
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(182 182 182 / var(--tw-text-opacity));
}

.dark .resume h5, .dark .post h5
{
  --tw-text-opacity: 1;
  color: rgb(113 126 152 / var(--tw-text-opacity));
}

.resume figcaption, .post figcaption
{
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  font-weight: 700;
  margin-top: 0.25rem;
}

.resume hr,
.post hr
{
  border-radius: 1px;
  border-width: 1px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(216 222 233 / var(--tw-border-opacity));
}

.dark .resume hr, .dark .post hr
{
  --tw-border-opacity: 1;
  border-color: rgb(46 52 64 / var(--tw-border-opacity));
}

.resume hr, .post hr
{
  font-weight: 700;
}

.resume p, .post p
{
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.resume a, .post a
{
  --tw-text-opacity: 1;
  color: rgb(94 129 172 / var(--tw-text-opacity));
  font-weight: 700;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.resume blockquote, .post blockquote
{
  padding: 0.5rem;
  border-left-width: 4px;
  border-radius: 0.125rem;
  --tw-border-opacity: 1;
  border-color: rgb(94 129 172 / var(--tw-border-opacity));
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.resume ul, .resume ol, .post ul, .post ol
{
  margin: 0px;
  padding-left: 1.2em; /* Set the distance from the list edge to 1x the font size */ list-style-position: outside;
}

.resume ul li, .post ul li
{
  list-style-type: disc;
}

.resume ol li, .post ol li
{
  list-style-type: decimal;
}

.resume figure iframe, .post figure iframe
{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.resume pre code,
.post pre code
{
  font-family: "Ubuntu";
}

