/* LAYOUT */
.container
{
  @apply w-11/12 sm:max-w-6xl;
  @apply rounded-lg;
  @apply bg-glass-default dark:bg-glass-dark;
  @apply border-solid;
  
  @apply pl-4 pr-4 pt-5 pb-5 sm:pt-8 sm:pb-8 sm:pl-16 sm:pr-16;
  @apply ml-auto mr-auto mt-2 mb-2 sm:mt-4 sm:ml-auto sm:mr-auto;
}

.matrix-canvas {
  @apply bg-nord-default;
  @apply w-full h-full;
}

.terminal {
  @apply bg-nord-darker;
  @apply bg-opacity-95;
  @apply rounded-md;
  @apply flex;
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  @apply w-11/12;
  @apply z-10;
  filter: drop-shadow(0px 8px 24px #2e3440);
  max-width: 520px;
}

.terminal-content {
  @apply pl-6 pr-6;
  @apply pt-8 pb-8 md:pt-8 md:pb-8;
  @apply mt-auto mb-auto;
  @apply text-snow-dark;
  @apply font-bold;
  font-family: Ubuntu;
}

.terminal-prompt-name {
  @apply text-green-default;
}

.terminal-prompt-path {
  @apply text-blue-dark;
}

.terminal-result {
  @apply text-nord-light;
  @apply leading-tight;
}

.terminal-link {
  @apply text-nord-light;
  @apply no-underline;
}

.terminal-link:hover,
.terminal-link:focus {
  @apply text-blue-default;
}

/*
 * ICONS
*/

.dark-mode-toggle svg {
  width: 50px;
  height: 30px;
  @apply mt-auto mb-auto;
}

.dark-mode-icon
{
  @apply flex dark:hidden;
}

.light-mode-icon{
  @apply hidden dark:flex;
}

.light-mode-menu-icon
{
  @apply flex dark:hidden;
  @apply justify-self-start;
}

.dark-mode-menu-icon
{
  @apply hidden dark:flex;
}

/*
 * NAV
*/

.nav 
{
  @apply flex flex-row justify-between;
}


.name-tag-wrapper
{
  @apply flex flex-col;
  @apply justify-self-center;
  @apply mt-auto mb-auto;
}

.nav-name
{
  @apply font-black;
  @apply text-xl text-center;
  @apply leading-none;
  font-family: "Rubik", sans-serif;
}

.nav-title
{
  @apply font-black;
  @apply text-xs text-center;
  @apply leading-none;
  font-family: "Rubik", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  @apply bg-nord-darker;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  @apply text-snow-dark;
  @apply text-2xl;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  @apply text-blue-default;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/*
 * Post Styles
*/
.html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  @apply bg-blue-light dark:bg-nord-dark;
  @apply text-nord-default dark:text-snow-dark;
  font-family: "Ubuntu";
  overflow-x: hidden;
}

.home-body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
}

.post-content-wrapper {
  @apply flex flex-col;
  @apply h-full;
}

.page-content-wrapper {
  @apply flex flex-col;
  @apply h-full;
}

button {
  outline: 0;
}

h1 {
  @apply text-2xl sm:text-3xl;
  @apply font-black;
}
h2 {
  @apply text-xl sm:text-2xl;
  @apply font-black;
}
h3 {
  @apply text-lg sm:text-xl;
  @apply font-black;
}

.post figcaption,
.page figcaption {
  @apply text-sm;
  @apply text-center;
  @apply font-bold;
  @apply mt-1;
}

.post hr,
.page hr {
  border-radius: 1px;
  border-width: 1px;
  @apply mt-10 mb-10;
  @apply border-solid border-snow-dark;
  @apply dark:border-nord-darker;
  @apply font-bold;
}

.post p,
.page p {
  @apply font-normal;
  @apply text-sm;
}

.post a,
.page a {
  @apply text-blue-default;
  @apply font-bold;
  @apply underline;
}

.post blockquote,
.page blockquote {
  @apply p-2;
  @apply border-l-4;
  @apply rounded-sm border-blue-default;
  @apply mt-5 mb-5;
}

.post ul,
.page ul {
  @apply list-disc;
  @apply list-inside;
}

.post figure iframe {
  @apply w-full h-full;
  @apply absolute top-0 left-0;
}

.post-card-wrapper {
  @apply w-11/12 max-w-6xl;
  @apply p-2 pt-5 mt-5 ml-auto mr-auto sm:p-10;
  @apply rounded-lg sm:w-4/5;
  @apply bg-glass-default dark:bg-glass-dark;
}

.post pre code,
.page pre code
{
  font-family: "Ubuntu";
}


