/*STYLES FOR PAGE, POST AND RESUME*/

.resume h1,
.post h1
{
  @apply text-3xl;
  @apply text-nord-dark dark:text-snow-dark;
  @apply font-bold;
}

.resume h2,
.post h2
{
  @apply text-xl;
  @apply text-nord-dark dark:text-snow-dark;
  @apply font-bold;
}

.resume h3,
.post h3
{
  @apply text-base text-blue-default dark:text-frost-blue;
  @apply font-bold;
}

.resume h4,
.post h4
{
  @apply text-sm text-grey-default dark:text-grey-dark;
  @apply font-bold;
}

.resume h5,
.post h5
{
  @apply text-sm text-grey-default dark:text-grey-dark;
}

.resume figcaption,
.post figcaption
{
  @apply text-sm;
  @apply text-center;
  @apply font-bold;
  @apply mt-1;
}

.resume hr,
.post hr
{
  border-radius: 1px;
  border-width: 1px;
  @apply mt-4 mb-4;
  @apply border-solid border-snow-dark;
  @apply dark:border-nord-light;
  @apply font-bold;
}

.resume p,
.post p 
{
  @apply font-normal;
  @apply text-base;
}

.resume a,
.post a
{
  @apply text-blue-default;
  @apply font-bold;
  @apply underline;
}

.resume blockquote,
.post blockquote
{
  @apply p-2;
  @apply border-l-4;
  @apply rounded-sm border-blue-default;
  @apply mt-5 mb-5;
}

.resume ul,
.resume ol,
.post ul,
.post ol
{
  @apply m-0;
  padding-left: 1.2em; /* Set the distance from the list edge to 1x the font size */
  @apply list-outside;
}

.resume ul li,
.post ul li
{
  @apply list-disc;
}

.resume ol li,
.post ol li
{
  @apply list-decimal;
}

.resume figure iframe,
.post figure iframe
{
  @apply w-full h-full;
  @apply absolute top-0 left-0;
}

.resume pre code,
.post pre code
{
  font-family: "Ubuntu";
}

